html,body {
    height: 100%;
}
.landing {
    height: 100%;
    background-image: url("images/20230209_210517.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.modal-header
{
    background-color: black;
}
.modal-title
{
    color: red;
}
.modal-body
{
    background-color:black;
    color: white;
}
