@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
  --orange:hsl(28, 100%, 50%);
    --black:#130f40;
    --light-color:#666;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
  }

  body
{
  background: #111;
}

section{
  position: relative;
  padding: 10px;
}

.welcome {
  position: absolute;
  top: -50%;
  left: 10%;
}

.welcome>.text {
  font-size: 10rem;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  position: absolute;
  text-align: center;
  display: grid;
}

.welcome>.layer4 {
  color: #fff;
  transition: 0.5s;
  
}

.welcome>.layer3 {
  color: rgb(109, 247, 111);
  transform: translate(3px, 3px);
  transition: 0.5s;
  visibility: hidden;
}

.welcome>.layer2 {
  color: rgb(239, 129, 129);
  transform: translate(5px, 5px);
  transition: 0.5s;
  visibility: hidden;
}

.welcome>.layer1 {
  color: rgb(25, 210, 223);
  transform: translate(8px, 8px);
  transition: 0.5s;
  text-shadow: #333;
  visibility: hidden;
}

.welcome:hover>.layer4 {
  color: rgb(151, 99, 213);
  visibility: visible;
}

.welcome:hover>.layer3 {
  color: rgb(88, 190, 234);
  transform: translate(10px, 10px);
  visibility: visible;
}

.welcome:hover>.layer2 {
  color: rgb(237, 190, 90);
  transform: translate(15px, 15px);
  visibility: visible;
}

.welcome:hover>.layer1 {
  color: rgb(66, 252, 193);
  transform: translate(20px, 20px);
  visibility: visible;
}

.header{
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .home p{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Poppins',sans-serif;
  }

  .home p:hover{
    color: var(--orange);
  }

.home img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner:before{
  /* content: ''; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top,#111,transparent);
}

.banner .content{
  position: relative;
  max-width: 900px;
  text-align: center;
  z-index: 1;
}

.banner .content h2{
  color: #fff;
  font-size: 5em;
}

.banner .content p{
  color: #fff;
  font-size: 1.2em;
}

.btn{
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  color: #333;
  border-radius: 8px;
  transition: .5s;
  text-decoration: none;
}

.btn:hover{
  color: whitesmoke;
  background: rgb(90, 90, 224);
  scale: 1.2;
}

.fitBg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.about{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about2{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .contentBx{
  min-width: 50%;
  width: 50%;
  padding: 0 100px;
  text-align: end;
  padding-right: 40px;
}

.about2 .contentBx{
  min-width: 50%;
  width: 50%;
  padding: 0 100px;
  text-align: center;
  padding-right: 40px;
}

.titleText{
  font-weight: 600;
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}

.text{
  color: #fff;
  font-size: 1em;
}

.about .imgBx{
  position: relative;
  min-width: 50%;
  width: 45%;
  min-height: 500px;
}

.about2 .imgBx2{
  position: relative;
  left: 0%;
  min-width: 45%;
  width: 40%;
  min-height: 500px;
  transition: 0.6s;
}

.about2 .imgBx2:hover{
  scale: 1.05;
}

.fitBg2{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner:before{
  /* content: ''; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top,#111,transparent);
}

.banner .content{
  position: relative;
  max-width: 900px;
  text-align: center;
  z-index: 1;
}

.banner .content h2{
  color: #fff;
  font-size: 5em;
}

.banner .content p{
  color: #fff;
  font-size: 1.2em;
}

.footer{
  background: #fff;
  padding: 80px;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 1.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box h3 i{
  color: var(--black);
}

.footer .box-container .box .links{
  display:block;
  font-size: 1rem;
  color: var(--light-color);
  padding: 0.2rem 0;
}

.footer .box-container .box .links i{
  color: var(--orange);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
  padding-right: 2rem;
}

.footer .box-container .box p{
  line-height: 1.8;
  font-size: 1rem;
  color:var(--light-color);
  padding:1rem 0;
}

.footer .box-container .box .share a{
  height:3rem;
  width:3rem;
  line-height:3rem;
  border-radius: .5rem;
  font-size: 2rem;
  color:var(--black);
  margin-right: .2rem;
  background: #eee;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: var(--orange);
  color:#fff;
}

.box a{
  text-decoration: none;
}

@media(max-width:767px){
  section{
    padding: 40px;
  }

  .header{
    margin-left: 225px;
  }
  .banner .content h2{
    font-size: 2.5em;
  }
  .banner .content p{
    font-size: 1;
  }
  .about{
    flex-direction: column;
  }

  .about2{
    flex-direction: column;
  }

  .about .contentBx,
  .about .imgBx{
    min-width: 100%;
    width: 100%;
    text-align: center;
    padding-right: 0px;
  }

  .about2 .contentBx,
  .about2 .imgBx2{
    min-width: 95%;
    width: 95%;
    text-align: center;
    padding-right: 0px;
  }

  .about .imgBx{
    min-height: 250px;
  }

  .about2 .imgBx2{
    min-height: 500px;
    }

  .btn{
    margin-bottom: 30px;
  }
}

@media(max-width:887px){
  .welcome{
    display: none;
  }
}

.banner .semCard{
  position: relative;
  max-width: 900px;
  text-align: center;
  z-index: 2;
}