@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
    z-index: 90000;
    width: 100%;
    margin-top: 4em;
    margin-bottom: 15em;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.container .card{
    position: relative;
    width: 230px;
    height: 230px;
    margin: 15px;
    overflow: hidden;
}

.container .card .imgBx,
.container .card .contentBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .contentBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.container .card:hover .contentBx::before{
    transform: scaleX(1);
    opacity: 0.7;
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}

.container .card.active .contentBx::before{
    transform: scaleX(1);
    opacity: 0.7;
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}

.container .card .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .contentBx .content{
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-300px);
}

.container .card:hover .contentBx .content{
    transform: translateX(0px);
}

.container .card.active .contentBx .content{
    transform: translateX(0px);
}

.container .card .contentBx .content h3{
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container .card .contentBx .content p{
    font-size: 0.5em;
    line-height: 1.4em;
    font-weight: 300;
}

.container .card .contentBx .jusHead{
    transform: translate(-4em);
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 1px;
    background: whitesmoke;
    border-radius: 6px;
}

.container .card:hover .contentBx .jusHead{
    display: none;
}

.container .card.active .contentBx .jusHead{
    display: none;
}

.link{
    text-decoration: none;
    font-weight: bold;
}

@media(max-width:767px){
    .container .card{
        position: relative;
        width: 300px;
        height: 300px;
        margin: 15px;
        overflow: hidden;
    }
}



@media(max-width:767px){
    .Branch_card .body{
        position: relative;
        width: 300px;
        height: 300px;
        margin: 15px;
        overflow: hidden;
    }
}