@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



section {
    position: relative;
    background: #161623;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

section::before {
    content: '';
    position: absolute;
    width: 430px;
    height: 430px;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    transform: translate(-250px, -120px);
}

section::after {
    content: '';
    position: absolute;
    width: 420px;
    height: 420px;
    background: linear-gradient(#2196f3, #31ff38);
    border-radius: 50%;
    transform: translate(250px, 150px);
}

/* section img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  } */

.card-container {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.star {
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #31ff38);
    border-radius: 80%;
    transform: translate(50px, 50px);
}

.box {
    position: relative;
    min-width: 350px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    margin: 0 20px;
}

.box h3 {
    background: linear-gradient(to left, orange, purple);
    margin-bottom: 20px;
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.box .list {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: 0.8s;
    overflow: hidden;
}

.box .list:hover {
    background: #fff;
    box-shadow: -15px 30px 50px rgba(0, 0, 0, .5);
    transform: scale(1.15) translateX(30px) translateY(-15px);
}

.box .list .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.box .list .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .list .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.box .list .content .rank {
    position: absolute;
    right: -55px;
    color: darkgoldenrod;
    transition: 0.5s;
    font-size: 2em;
}

.box .list .content .small {
    font-weight: 500;
    opacity: 0.25;
}

.box .list:hover .content .rank {
    right: 20px;
}



.box .list .content h4 a {
    color: #fff;
    line-height: 1.2em;
    font-weight: 600;
    transition: 0.5s;
    text-decoration: none;
}

.box .list .content p {
    font-size: 0.75em;
    transition: 0.5s;
}

.box .list:hover .content h4 a,
.box .list:hover .content p {
    color: #333;
}



@media(max-width:887px) {
    .box .list.active {
        background: #fff;
        box-shadow: -15px 30px 50px rgba(0, 0, 0, .5);
        transform: scale(1.15) translateX(30px) translateY(-15px);
    }

    .box .list.active .content .rank {
        right: 20px;
    }

    .box .list.active .content h4 a,
    .box .list.active .content p {
        color: #333;
    }
}